# Database
DATABASE_URL_AUTH=postgresql://postgres:postgres@localhost:5432/auth_db
DATABASE_URL_SCHEDULE=postgresql://postgres:postgres@localhost:5432/schedule_db

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Ports
AUTH_HTTP_PORT=3001
AUTH_TCP_PORT=3003
SCHEDULE_HTTP_PORT=3002

# Auth Service Host (gunakan 'auth-service' saat running di Docker)
AUTH_SERVICE_HOST=localhost

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Mailtrap SMTP
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your-mailtrap-user
MAIL_PASS=your-mailtrap-pass
MAIL_FROM=noreply@healthcare.com
